h1 {
  margin: 1.5rem 3rem;
}

section {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section:nth-child(2n+0) {
  background-color: #E0E0E0;
}

.App {
  margin: 1.5rem 0;
}